.big_img{
    height:100vh;
    background:#f5f5f5;
    padding-top:20vh;
    background: url("/static/img/main.jpg");
    background-size:100% 100%;
}
.form{
    padding:2em;
    padding-top:10vh;
}
.inner-form{
    border: solid .1em #f5f5f5;
    margin: 3em auto;
    padding: 2em 5em 2em 2em;
    overflow:hidden;
}
label{
    width:100px;
    font-weight:bold;
    font-size: 14px;
}
